extends base.pug  
append stylesheets
    link(rel="stylesheet" , href="./css/profile.css")
block content
    .overall-container
        .parent-container
            .left-container
                .profile-img
                    img(src=user.pImage alt='')
                    input#profileImage(type='file' name='user')
                .profile-nav
                    #profile-details.navlist-item
                        |Profile
                        i.fas.fa-chevron-right
                    #order-history.navlist-item
                        |My Orders
                        .navitem-count #{orders.length}
                    #reviews.navlist-item.no-border
                        |My Reviews
                        .navitem-count #{reviews.length}
            .right-container
                .profile-details
                    .profile-data
                        label(for='') Name
                        input(type='text' placeholder='' readonly='' value=user.name)
                    .profile-data
                        label(for='') Email
                        input(type='text' placeholder='' readonly='' value=user.email)
                    .profile-data
                        label(for='') Delivery Address
                        input(type='text' placeholder='' readonly='' value=user.deliveryAddress)
                    .profile-data
                        label(for='') Contact
                        input(type='text' placeholder='' readonly='' value=user.contact)
                    .btn.edit-details Edit Details
                    .btn.cancel.hide Cancel
                    .btn.save-details.hide Save Details
                .order-history.hide
                    .heading
                        h1 Your Order History
                    .orders
                        if orders.length>0
                            each order in orders
                                include orderCard.pug
                        else
                            h2 No Orders
                .reviews.hide
                    if reviews.length>0
                        each review in reviews
                            include reviewCard.pug
                    else
                        | No Reviews

block scripts
    script(src="./js/profileImage.js")
    script(src="./js/profile.js")